
api-faker/.idea/
api-faker/.ipynb_checkpoints/Untitled-checkpoint.ipynb
api-faker/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
api-faker/.ipython/nbsignatures.db
api-faker/.ipython/notebook_secret
api-faker/.ipython/kernels/rails/kernel.css
api-faker/.ipython/kernels/rails/kernel.js
api-faker/.ipython/kernels/rails/kernel.json
api-faker/.ipython/kernels/rails/logo-32x32.png
api-faker/.ipython/kernels/rails/logo-64x64.png
api-faker/.ipython/kernels/rails-sandbox/kernel.css
api-faker/.ipython/kernels/rails-sandbox/kernel.js
api-faker/.ipython/kernels/rails-sandbox/kernel.json
api-faker/.ipython/kernels/rails-sandbox/logo-32x32.png
api-faker/.ipython/kernels/rails-sandbox/logo-64x64.png
api-faker/.ipython/kernels/ruby/kernel.css
api-faker/.ipython/kernels/ruby/kernel.js
api-faker/.ipython/kernels/ruby/kernel.json
api-faker/.ipython/kernels/ruby/logo-32x32.png
api-faker/.ipython/kernels/ruby/logo-64x64.png
api-faker/.ipython/runtime/kernel-6ae79c73-4d4d-4e86-a3c9-77ab59b618bd.json
api-faker/.ipython/runtime/kernel-f5df5ac2-ccac-46eb-90d7-13112f63d6b1.json
api-faker/.ipython/runtime/nbserver-1385-open.html
api-faker/.ipython/runtime/nbserver-1385.json
api-faker/.ipython/runtime/notebook_cookie_secret
